* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body {
   /*---- background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;*/
}

::-webkit-scrollbar {
    width: 3px;
}

/* .customer-service {
  background: #5F6F52;
} */

.customer-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem 0;
  background: #5F6F52;
  height: 200px;
}

.customer-service-header {
  display: flex;
  align-items: center;
}

.customer-service img {
  width: 110px;
  height: auto;
  /* margin-right: 1rem; */
}

.customer-service h1 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 0.5rem;
  flex: 1;
}

.customer-service p {
  font-size: 2rem;
  color: #FEFAE0;
  margin-top: 0.5rem;
  flex: 2;
}

.cards-container{
  margin-top: 5px;
  display: flex;
  height: 30rem;
  overflow-y: auto;
  align-items: center;
  text-align: center;
  padding:0;
  /*background-color: #ADD8E6;*/

  
}
 
.container-FAQs,
.container-policies,
.container-chat {
  width: 90%;
  height: 90%;
  margin: 5px 5px 5px ;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

  /* overflow-y: auto;
  height: 30rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem; */
}


.container-FAQs {
  background: red;
}

.container-policies {
  background: green;
}

.container-chat {
  background: #163020;
}
.container-FAQs,
.container-policies,
.container-chat h1{
padding-top: 10px;


}
.container-chat p{
  display: block;
  padding-top: 10px;
  color: #fff;
}
.chat{
    padding: 30px;
    width: 50%;
    height: 50%;
    margin-top: -1px;
   margin-left: 70px;
}
.container-chat i {
  display: block;
  padding-top: 20px;
}
.chat{
margin-top: 20px;
margin-left: 30px;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.container-FAQs h1{
  
}
.container-policies h1{
  text-shadow: -2px -2px 0 whitesmoke, -1px -1px 0 whitesmoke;
}
.container-chat h1{
  text-shadow: -2px -2px 0 whitesmoke, -1px -1px 0 whitesmoke;
}